html, body{
	height:100%;
}
.forget_header{
	background-color: #028173;
}
.forgetPassword .midlle{
	margin-top: 60px;
	position: relative;
}
.register_middle_inputs input{
	width: 100%;
	padding:0;
    display: inline-block;
}
.midlle .forget_user{
	margin:5px 10px;
}
.register_btn{
	height:45px;
	width:30%;
	font-size: 16px;
	margin-left: 10px;
	position: absolute;
	right:10px;
	top:53px;

}

.midlle .code{
	width:60%;
}

.midlle span{
	margin:15px 10px;
	color: #028173;
}
.midlle .comfir{
	background-color:#028173; 
	width:90%;
	border-radius: 6px;
	margin:5px auto;
	color: #fff;
	font-size: 25px;
}
