.register .register_middle{
	margin-top: 50px;
}
.register .register_middle .register_middle_inputs{
	margin: 0;
	display: inline-block;
}
.register .register_middle>div{
	border:1px solid #000;
}
.register .register_middle>div:nth-child(3){
	border:1px solid #000;
	width:50%;
	display: inline-block;
	margin:0 0 0 10px;
	height: 45px;
}
.register .register_middle .register_middle_inputs input{
	width: 85%;
	padding:0;
    display: inline-block;
}
.register .register_middle .register_btn{
	height:45px;
	width:30%;
	font-size: 16px;
	margin-left: 10px;
}
.register .Agreement a{
	position: absolute;
	right:0;
	top: 35%;
	z-index:99999;
}