
<div class="classify-Health">
		<div class="index_product_electric">
			 		<div class="Health_product_new" ng-repeat="item in Health_product">
				 			<div class="Health_product dis">养身电器</div>
				 			<span>最新</span>
				 			<p>养身之选把心仪宝贝带走！</p>
			 		</div>
			 		<div class="row">
						  <div class="col col-33 Soybean_machine dis" ng-repeat='item in Soybean_machine'>
						  		<a href=""><img ng-src="../images/index_main2.png"></a>
						  		<div class="Health_product_text">
								  		<p>豆类机 玫红色</p>
								  		<p>活动价</p>
								  		<span class="fl">￥68.00</span>
								  		<span class="fr"><s>￥52.90</s></span>
								  		<div class="product_buyBox fl">立刻购买</div>
						  		</div>
						  </div>
						  <div class="col col-33 Soybean_machine dis" ng-repeat='item in Soybean_machine'>
						  		<a href=""><img ng-src="../images/index_main2.png"></a>
						  		<div class="Health_product_text">
								  		<p>豆类机 玫红色</p>
								  		<p>活动价</p>
								  		<span class="fl">￥68.00</span>
								  		<span class="fr"><s>￥52.90</s></span>
								  		<div class="product_buyBox fl">立刻购买</div>
						  		</div>
						  </div>
						  <div class="col col-33 Soybean_machine dis" ng-repeat='item in Soybean_machine'>
						  		<a href=""><img ng-src="../images/index_main2.png"></a>
						  		<div class="Health_product_text">
								  		<p>豆类机 玫红色</p>
								  		<p>活动价</p>
								  		<span class="fl">￥68.00</span>
								  		<span class="fr"><s>￥52.90</s></span>
								  		<div class="product_buyBox fl">立刻购买</div>
						  		</div>
						  </div>
					</div>
			 </div>
	</div>

 
