	<div class="comment">
		<header>
		  <div class="bar bar-header shopping_header">
			  <button class="button icon ion-chevron-left shopping_header_btn"></button>
			  <h1 class="title sopping_header_title">评价中心</h1>
			</div>
		</header>

		<div class="comment_main">
				<div class="list comment_star">
						<a class="item item-thumbnail-left">
				      <img src="./images/index_main9.png">
				      <h2>评分</h2>
				       <i class="icon ion-android-star-outline"></i>
				       <i class="icon ion-android-star-outline"></i>
				       <i class="icon ion-android-star-outline"></i>
				       <i class="icon ion-android-star-outline"></i>
				       <i class="icon ion-android-star-outline"></i>
				    </a>
				</div>
				<div class="comment_frame">
						<textarea maxlength="500" rows="25" cols="20" 
						placeholder="写下购买感受与使用效果帮助其他小伙伴评价大于50个字与图片随机抽到优惠卷"></textarea>
				</div>
				<div class="comment_btn">
					<button >添加晒单图片</button>
				</div>
		</div>
	</div>
<div class="list">
							<a class="item item-icon-left">
						    <i class="icon ion-plane"></i>
						    物流服务与评价 
						    <span class="item-note">满意请给五星哦</span> 
						  </a>
				</div>
