<div class="forgetPassword">
		<header>
			<div class="bar bar-header forget_header">
					  <button class="button icon ion-chevron-left shopping_header_btn"></button>
					  <h1 class="title sopping_header_title">忘记密码</h1>
			</div> 
		</header>
		<div class="midlle"> 
				<div class="list list-inset forget_user">
					  <label class="item item-input">
					    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
					    <input type="text" ng-model="userInfo.phone"  placeholder="请输入正确的手机号码" ng-keyup="changes()"/>
					  </label> 
				</div>
				<div class="list list-inset forget_user code">
					  <label class="item item-input register_middle_inputs">
					    <i class="icon ion-android-list placeholder-icon"></i>
					    <input type="text" ng-model="userInfo.code" placeholder="请输入检验码" />
					  </label>
				</div>
				<button class="button button-small button-positive register_btn" ng-repeat="item in btn" ng-click="getCode()" ng-disabled="isPass" >
				  {{item.code}}
				</button>
				<div class="list list-inset forget_user" >
					  <label class="item item-input">
					    <i class="icon ion-ios-locked-outline"></i>
					    <input type="password" ng-model="userInfo.pwd"  placeholder="请输入密码"/>
					  </label>
				</div>
				<div class="list list-inset forget_user" >
					  <label class="item item-input">
					    <i class="icon ion-ios-locked-outline"></i>
					    <input type="password" ng-model="userInfo.repwd"  placeholder="请输入确认密码"/>
					  </label>
				</div>
				<span class="fr" ng-click="GoEmail()">通过邮箱找回</span>
				<button class="button button-full comfir " ng-click='setter()'>设置</button>
		</div>
</div> 