
<div class="production_detail">
		<header>
			   <div class="row production_detail_header">
					  <div class="col .col-20 icon ion-chevron-left icon_first"></div>
					  <div class="col .col-20">商品</div>
					  <div class="col .col-20">详情</div>
					  <div class="col .col-20">评价</div>
					  <div class="col .col-20 icon ion-ios-more-outline"></div>
				</div>
		</header>
		<div class="production_main">
				<div class="production_banner">
					<ul>
						<li><img src="./images/classify1.png" alt=""></li>
					</ul>
					<div class="production_banner_list">
							<span>1</span>
							<span>/</span>
							<span>3</span>
					</div>
				</div>
				<div class="production_details dis">
					<span>雅柯（yake）电磁炉恒匀火十档火力一键桑拿蒸功C21-QH2130</span>
					<span class="Give">（赠不锈钢蒸锅）</span>
					<span class="Open">【雅柯开门红-劲爆价299元】火爆开抢！下单赠电饭煲！前300名<u>评价晒单返50元</u>，详情见商品介绍</span>
					<div class="money"> 
						<span>￥299.00</span>
						<span><s>￥699.00</s></span>
					</div>
				</div>
				<div class="number dis"> 
					<div class="fl sum">
						<span>数量</span>
						<div class="add dis">
							<span>-</span>
							<span>1</span>
							<span>+</span>
						</div>
					</div>
					<div class="fr color">
						<span>颜色</span>
						<button>白</button>
						<button>黑</button>
					</div>
				</div>
		</div>
 </div>
