
	<div class="rePayment">
		<header>
		  <div class="bar bar-header shopping_header">
			  <h1 class="title sopping_header_title">支付失败</h1>
			  <a class="button icon-right shopping_header_A">完成</a>
			</div>
		</header>
		<div class="falsePay">
				<div class="rePayment_middle">
					<div><img src="./images/icon/rePayment.png" alt=""></div>
					<h3>支持失败 请重新支付</h3>
				</div>
				<div class="Order_information">
						<h3>订单信息</h3>
						<h4>该订单保留24小时，下单开始计算，24小时如果没有
							支付成功，系统自动转入购物车、收藏中心里面</h4>
				</div>
				<div class="rePayment_btn dis">
						<button class="fl" ui-sref="pay">
						  	重新支付
						</button>
						<button class="fr" ui-sref="productionDetail">
						  	查看订单
						</button>
				</div>
		</div>
		<div class="rePayment_footer">
				<div class="list">
					  <a class="item item-icon-left" href="#">
					    <i class="icon ion-ios-information-outline"></i>
					    安全提示：雅柯集团不会以任何理由叫你提供银卡和支付宝
							信息，谨防钓鱼网站与诈骗电话。
					  </a>
				</div>
		</div>
	</div>

