<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>搜索</title>
	<link rel="stylesheet" href="../css/common/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/seach.css" />
	<link rel="stylesheet" type="text/css" href="../css/common/comm.css" />
</head>
<body>
<div class="seach">
	<header>
		<div class="seach_header">
			<div class="row">
				  <div class="col col-10 seach_header_first"><i class="icon ion-chevron-left"></i></div>
				  <div class="col col-75">
							<div class="bar bar-header item-input-inset">
							 	 <label class="item-input-wrapper">
								    <i class="icon ion-ios-search placeholder-icon"></i>
								    <input type="text" placeholder="请输入电器名称">
								  </label> 
							</div>	
				  </div>
				  <div class="col col-15"><span>取消</span></div>
			</div>
		</div>
	</header>
	<div class="seach_main">
			<div class="hot_seach">
					<h3>热门搜索</h3>
			</div>
			<div class="row hot_seach_row">
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">电磁炉系列</button>
					</div>
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">果汁机系列</button>
					</div>
					<div class="col col-25">
							<button class="button button-full  button-outline button-stable">汤匙</button>
					</div>
			</div>
			<div class="row hot_seach_row">
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">绞肉机系列</button>
					</div>
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">电饭煲系列</button>
					</div>
					<div class="col col-25">
							<button class="button button-full  button-outline button-stable">刀片</button>
					</div>
			</div>
			<div class="row hot_seach_row">
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">智能化系列</button>
					</div>
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">热水煲系列</button>
					</div>
				
			</div>
	</div>
	<div class="seach_main">
			<div class="hot_seach">
					<h3>最新搜索</h3>
			</div>
			<div class="row hot_seach_row">
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">饮水机系列</button>
					</div>
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">果汁机系列</button>
					</div>
					<div class="col col-25">
							<button class="button button-full  button-outline button-stable">锅底</button>
					</div>
			</div>
			<div class="row hot_seach_row">
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">绞肉机系列</button>
					</div>
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">压力锅系列</button>
					</div>
					<div class="col col-25">
							<button class="button button-full  button-outline button-stable">元素</button>
					</div>
			</div>
			<div class="row hot_seach_row">
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">全动力系列</button>
					</div>
					<div class="col col-33">
							<button class="button button-full  button-outline button-stable">热水煲系列</button>
					</div>
			</div>
	</div>
</div>
	
</body>
</html>
