
	<div class="seeing">
		<header>
		  <div class="bar bar-header shopping_header">
			  <button class="button icon ion-chevron-left shopping_header_btn"></button>
			  <h1 class="title sopping_header_title">浏览记录</h1>
			  <div class=" seeing_dele dis">
			  		<button class="fr">编辑</button>
			  		<button class="fr">清除</button>
			   </div>
			</div>   
		</header>
		<div class="seeing_main">
			<div class="seeing_date">
				<ul class="list">
				    <li class="item">
				      9月13日
				    </li>
				</ul>
			</div>
			<div class="seeing_product_list list">
				<a class="item item-thumbnail-left" href="#">
					      <img src="./images/barimage.png">
					      <h2>雅柯商用电磁炉&nbsp;&nbsp;&nbsp;炒菜火锅</h2>
					      <div>
									<span>电磁灶 3500W</span>
					      </div>
					      <div class=" dis money">
										<span class="goods_sum">￥188.00</span>
										<span class="fr goods_number">(免邮费：￥0）&nbsp;&nbsp;</span>
					      </div>
					      <div class="list seeing_likes">
					      			<span class="fl"> 找相似</span>
									    <i class="item-icon-right icon ion-ios-cart-outline"></i>
									     
								</div>
				</a>
				<a class="item item-thumbnail-left" href="#">
					      <img src="./images/barimage.png">
					      <h2>雅柯商用电磁炉&nbsp;&nbsp;&nbsp;炒菜火锅</h2>
					      <div>
									<span>电磁灶 3500W</span>
					      </div>
					      <div class=" dis money">
										<span class="goods_sum">￥188.00</span>
										<span class="fr goods_number">(免邮费：￥0）&nbsp;&nbsp;</span>
					      </div>
					      <div class="list seeing_likes">
					      			<span class="fl"> 找相似</span>
									    <i class="item-icon-right icon ion-ios-cart-outline"></i>
									     
								</div>
				</a>
				<a class="item item-thumbnail-left" href="#">
					      <img src="./images/barimage.png">
					      <h2>雅柯商用电磁炉&nbsp;&nbsp;&nbsp;炒菜火锅</h2>
					      <div>
									<span>电磁灶 3500W</span>
					      </div>
					      <div class=" dis money">
										<span class="goods_sum">￥188.00</span>
										<span class="fr goods_number">(免邮费：￥0）&nbsp;&nbsp;</span>
					      </div>
					      <div class="list seeing_likes">
					      			<span class="fl"> 找相似</span>
									    <i class="item-icon-right icon ion-ios-cart-outline"></i>
									     
								</div>
				</a>
			</div>	

		</div>
	</div>