
	<div class="waitpay">
		<header>
		   <div class="bar bar-header shopping_header">
				  <button class="button icon ion-chevron-left shopping_header_btn"></button>
				  <h1 class="title sopping_header_title">待付款</h1>
				  <a class="button icon-right ion-ios-chatbubble shopping_header_A"></a>
				</div>
		</header>
		<div class="waitpay_main">
				<div class="waitpayNumber dis" ng-repeat="item in waitpayNumbers">
						<h5 class="fl">{{item.orderNumber}}</h5>
						<h5 class="fr">{{item.deal}}</h5>
				</div>
				<div class="waitpay_list list track by $index">
							<a class="item item-thumbnail-left" ng-repeat="item in waitpay_lists">
						      <img ng-src="{{item.thumbnail_Img}}">
						      <h2>{{item.thumbnail_text}}</h2>
						      <div>
										<span>{{item.power}}</span>
						      </div>
						      <div class=" dis money">
											<span class="goods_sum">￥{{item.money}}</span>
											<span class="fr goods_number">{{item.number}}&nbsp;&nbsp;</span>
						      </div>
						      <div class="cancel_order">
											<div class="fl">
													<span class="mar" ng-click="remove(index)">{{item.dele}}&nbsp;&nbsp;</span>
													<div class="icon ion-ios-trash-outline dis" ng-click="remove(index)"></div>
											</div>
			  							<div class="fr myOrder_all_row">
													<p>{{item.carry}}</p>
			  							</div>
						      </div>
				   		 </a>
			   		 <div class="waitpay_total" ng-repeat="item in totals">
								<h3>{{item.sum}}</h3>
								<h3>{{all()}}</h3>
						<button class="button button-small button-assertive fr" ui-sref="thressRoutes.confirm">{{item.sure}}</button>
				</div>
			  </div>
		</div>
	</div>
