
	<div class="myOrder">
		<header>
			    <div class="bar bar-header shopping_header">
					  <button class="button icon ion-chevron-left shopping_header_btn"></button>
					  <h1 class="title sopping_header_title">待收货</h1>
					  <a class="button icon-right ion-ios-chatbubble shopping_header_A"></a>
				</div>
		</header>
		<div class="myOrder_mian">
				<div class="myOrder_production dis" ng-repeat="item in shop">
						<h3 class="fl">{{item.shopName}}</h3>
						<h3 class="fr">{{item.wait}}</h3>
				</div>
				<div class="myOrder_list">
						<div class="list myOrder_production_list " ng-repeat="item in list">
					    <a class="item item-thumbnail-left dis" >
					      <img ng-src="{{item.listImg}}">
					      <h2>{{item.pot}}</h2>
					      <p>{{item.furnace}}</p>
					      <span class="fl">{{item.money}}</span>
					      <span class="fr">{{item.number}}</span>
					      <span class="fl">{{item.delete}} </span>
					      <span class="fr">{{item.send}}</span>
					    </a>
							<div class="row myOrder_shopping">
							  <div class="col col-33"><h5>{{item.next}}</h5></div>
							  <div class="col col-33"><button class="button button-small button-full " ui-sref="Logistics">{{item.seeing}}</button></div>
							  <div class="col col-33"><button class="button button-small button-full ">{{item.sure}}</button></div>
							</div>
						</div>
				</div>
	</div>
